src/main/mule/assignmwnt-1prc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="a5dcbdf9-d106-45ff-8001-6c853dffbb3b" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="a23bf8a8-6f03-4da6-9f1e-4e69f000853b" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="asamohanlakshman@gmail.com" password="9966653004" timeoutUnit="HOURS" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="assignmwnt-1prcFlow" doc:id="aecf87da-02fc-49b7-863f-164512143d83" >
		<validation:is-not-blank-string doc:name="Is not blank string" doc:id="242ea8e7-0bfa-4a12-99f9-0d6a146bd611" value="#[attributes.queryString]">
			<error-mapping targetType="NO:USERID" />
		</validation:is-not-blank-string>
		<http:request method="GET" doc:name="Request" doc:id="c2195f90-25bf-42c9-9d99-904a3a24e136" config-ref="HTTP_Request_configuration" path="/api/details" responseTimeout="1800000">
			<http:query-params ><![CDATA[#[output application/json
---

	{
	("userId1" : attributes.queryParams.userId1) if(attributes.queryParams.userId1 != null),
	("userId2" : attributes.queryParams.userId2) if(attributes.queryParams.userId2 != null),
	("userId3" : attributes.queryParams.userId3) if(attributes.queryParams.userId3 != null)
}]]]></http:query-params>
		</http:request>
		<error-handler ref="global_errorError_Handler" />
	</flow>
	<flow name="assignmwnt-1prcFlow1" doc:id="b5b3684c-508a-40b4-bef2-e571e8b8e0c4" >
		<http:listener doc:name="Listener" doc:id="3ea81862-1340-4490-9836-cafa7ce4d236" config-ref="details-prslyr-httpListenerConfig" path="/test"/>
		<email:send doc:name="Send" doc:id="80c225df-8708-43b4-a20e-4e2c9c4f1774" config-ref="Email_SMTP" fromAddress="asamohanlakshman@gmail.com" subject="POC">
			<email:to-addresses >
				<email:to-address value="asamohanlakshman@gmail.com" />
			</email:to-addresses>
			<email:body contentType="text/html" >
				<email:content ><![CDATA[<h1>Hi lakshman</h1>]]></email:content>
			</email:body>
		</email:send>
	</flow>
</mule>
